<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <p>{{content}}</p>
  <input type="text" name="name" id="id" [disabled] = isDisable [(ngModel)] = "firstName">
  <br>
  <input type="text" name="name2" id="id2" [disabled] = isDisable [(ngModel)] = "content">
  <h4>new value entered by user is : {{firstName}}</h4>
  <button type="button" (click) = display()>click</button>
  <app-new
  [parentData] = "content"
  (childData)="detectData($event)"></app-new>
  <app-service-demo></app-service-demo>
</body>
</html> --> 
<!-- <app-directive></app-directive> -->
<app-service-demo></app-service-demo>